@charset "ISO-8859-1";
  
.headerDiv{
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 28;
    text-align: center;
    border-top-style: solid;
    border-top-width: medium;
    border-top-color: #696969;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #696969;
    color: #4682B4;
    background-color: #FAEBD7;
    z-index: 3;
    padding-top: 0px;
    padding-bottom: 0px;
}

.backDiv {
    z-index: 1;
    background-color: #48D1CC;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
}

.container{
    order: 2;
    flex-basis: auto;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    z-index: 2;
    margin-left: 10%;
    background-color: #C2ECD5;
    color: #00008B;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    height: 100%;
    background-position: right;
    border-right-style: solid;
    border-right-width: medium;
    border-right-color: #696969;
    border-left-style: solid;
    border-left-width: medium;
    border-left-color: #696969;
}

.search {
    flex: 0 0 auto;
    align-self: flex-start;
    width: 100%;
    background-color: #DEB887;
    overflow: auto;
    text-decoration: none;
}

.menu {
	


}

.menu a {
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.menu a:hover {
  background-color: #48D1CC;
}

.menu .active {
  background-color: #4682B4;
}

@media screen and (max-width: 500px) {
  .menu a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}